@import 'vars';
@import 'glyphicons';
@import 'shitfaced';

.blogpost {
    h2 {
	color: #555555;
	a {
	    color: inherit;
	    &:hover {
		color: #fa9988;
	    }
	}
    }

    p {
	font-size: 16px;
    }

    b {
	font-size: 11px;
	color: #555555;
    }
}

.comment {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-top: 10px;

    
    p {
	font-size: 16px;
    }
    
    b {
	font-size: 11px;
	color: #555555;
    }

    .comment_area {
	padding-left: 30px;

	textarea {
	    width: 500px;
	    height: 50px;
	}
    }

    .up_down_vote{
	b{
	    font-size: 15px;
	}
	a{
	    font-size: 15px;
	}
    }
    .comment_content {
	padding-left: 10px;
    }
}

.up_down_vote {
    text-align: center;

    h2 {
	margin: 0;
	padding-left: 5px;
	text-align: center;
    }

    a{
	font-size: 24px;
    text-decoration: none;
    }

    b{
	font-size: 22px;
    }
}

.vote {
    cursor: pointer;
}

.upvote {
    @extend .glyphicon;
    @extend .glyphicon-chevron-up;
}

.downvote {
    @extend .glyphicon;
    @extend .glyphicon-chevron-down;
}

.pagination {
    list-style: none;
    text-align: center;
    margin: 15px auto;
    
    li {
	display: inline-block;
	padding: 5px;
    }
}

#search_form {
    input[type=text] {
	
    }

    input[type=submit] {
	margin: 5px 0;
    }
}
.newpost {


    input[type=text] {
        border: 0;
        border-bottom: solid 1px #555;
        background:inherit;
        font-size: 2em;
        font-family: $font-heading;
        font-weight: bold;
        color:dimgray;
    }
}