/* @import 'shitfaced'; */
@import 'vars';
@import 'glyphicons';

body {
    color: $foreground-default;
    font-family: $font-default;
    margin: 0;
    background-color: #445566;
}

a {
    color: $foreground-link;

    &:hover {
	color: $foreground-link-hover;
    }
}

h1,h2,h3,h4,h5 {
    font-family: $font-heading;
}

hr {
    margin: 15px auto;
    color: $foreground-medium;
    /* box-shadow: 0 0 3px $foreground-medium inset; */
    width: 60%;
}

.wrapper {
    padding-top: 1px;
    width: 65%;
    margin: 0 auto;
    background-color: $background;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin: 50px auto;
    
}

.newpost textarea {
    width: 800px;
    height: 300px;
}

.hidden {
    display: none;
}
.no_content_message {
    padding: 40px;
}

.year:hover {
    cursor: pointer;
}

.error {
    color: #222;
    background-color: #e99;
    border: 1px solid #f22;
    display: block;
    padding: 7px;
    margin: 15px;
    border-radius: 3px;
}

.errorlist {
    list-style: none;
    
    li {
	@extend .error;
    }
    
}
th {
    text-align: right;
    a {
        font-family: $font-heading;
    }
}