@import 'vars';

#header {
    font-family: Open Sans, Arial, sans-serif;
    text-align: center;

    h1 {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 30px;
    }
    ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 400px;
	font-size: 14px;

    }
    li{
	float: left;
	width: 100px;

	a{
		font-family: $font-heading;
	    display: block;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    &:visited{
		color: green;
	    }
	    &:hover{
		color: red;
	    }
	    &:active{
		color: yellow;
	    }
	}
    }
}

#navbar {
    text-align: center;
}
