.shitfaced {
    animation: hue-rotate 4s linear infinite;
}

@keyframes hue-rotate {
    0% {
        background-color: hsl(0,100%,20%);
        -webkit-filter: hue-rotate(0deg);
        -webkit-transform: rotate(0deg);
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        background-color: hsl(120,100%,80%);
    }
    50% {
        background-color: hsl(270,100%,20%);
    }
    75%  {
        background-color: hsl(120,100%,80%);
    }
    100% {
        background-color: hsl(0,100%,20%);
        -webkit-transform: rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}