@import 'vars';

#side_bar {
    width: 20%;
    display: inline-block;
    vertical-align: top;

    @include tablet {
	float: none;
    }
    a{
        font-family: $font-heading;
    }
}

#blog {
    width: 75%;
    display: inline-block;
    vertical-align: top;

    @include desktop {
	width: 75%;
    }
    
    @include tablet {
	width: 100%;
    }
}