$background: #fafafa;

$foreground-default: #222;
$foreground-link: green;
$foreground-link-hover: red;

$foreground-medium: #555;

$font-default: "Open Sans", Arial, sans-serif;
$font-heading: Inconsolata, Courier, slab-serif, serif;

// media widths:

$width-desktop: 850px;
$width-tablet: 600px;
$width-phablet: 400px;
$width-phone: 95%;

$min-width-desktop: 1350px;
$min-width-tablet: 1000px;
$min-width-phablet: 600px;
$min-width-phone: 400px;

// media query mixins:
@mixin desktop {
    @media screen and (max-width: $min-width-desktop) {
	@content
    }
}

@mixin tablet {
    @media screen and (max-width: $min-width-tablet) {
	@content
    }
}

@mixin phablet {
    @media screen and (max-width: $min-width-phablet) {
	@content
    }
}

@mixin phone {
    @media screen and (max-width: $min-width-phone) {
	@content
    }
}